---
layout: page
description: "Desenvolvimento de software com foco em arquitetura e design orientado a objetos"
---

{% for post in paginator.posts %}
  <div class="post-preview">
    <a href="{{ post.url | prepend: site.baseurl }}">
      <h2 class="post-title">{{ post.title }}</h2>
      {% if post.subtitle %}
        <h3 class="post-subtitle">
          {{ post.subtitle }}
        </h3>
      {% endif %}
    </a>
    <p class="post-meta">Postado por {{ site.title }} em {% assign subject = post %} {% include date.html %}</p>
</div>
<hr>
{% endfor %}

<!-- Pager -->
{% if paginator.total_pages > 1 %}
  <ul class="pager">
    {% if paginator.previous_page %}
      <li class="previous">
        <a href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}">&larr; Mais Novos</a>
      </li>
    {% endif %}
    {% if paginator.next_page %}
      <li class="next">
        <a href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}">Mais Antigos &rarr;</a>
      </li>
    {% endif %}
  </ul>
{% endif %}
