html, button, input, select, textarea,
.pure-g [class *= "pure-u"] {
  font-family: $body-font-family, Arial, sans-serif;
}

html, body {
  height: 100%;
  font-size: $body-font-size;
  line-height: 1.5;
  color: $color-body-text;
  background-color: $color-body-background;
}

body {
  display: flex;
  flex-direction: column;
}

a {
  text-decoration: none;
  color: inherit;
}

p {
  margin-top: 0;
  margin-bottom: .5em;
}

h1, h2, h3, h4, h5, h6 {
  margin-top: 1em;
  margin-bottom: .25em;
  line-height: 1.25;
}

h1 { font-size: $h1-font-size; }
h2 { font-size: $h2-font-size; }
h3 { font-size: $h3-font-size; }
h4 { font-size: $h4-font-size; }
h5 { font-size: $h5-font-size; }
h6 { font-size: $h6-font-size; text-transform: uppercase; letter-spacing: 0.02em; }

.font-weight-bold {
  font-weight: bold;
}

.color-primary {
  color: $color-primary;
}

.fill-white {
  fill: $color-white;
}

.fill-primary {
  fill: $color-primary;
}

.pt-2 {
  padding-top: 32px;
}
.pb-2 {
  padding-bottom: 32px;
}
.pt-3 {
  padding-top: 64px;
}
.pb-3 {
  padding-bottom: 64px;
}

.visible-md {
  display: none;
}

@media (min-width: $breakpoint-md) {
  .hidden-md {
    display: none;
  }
  .visible-md {
    display: block !important;
  }
  .img__right {
    margin-left: 10px;
  }
}

@media (min-width: $breakpoint-xl) {
  .img__right {
    margin-left: 30px;
  }
}
