.container {
    max-width: $container-max-width;
    margin-left: auto;
    margin-right: auto;
    padding-left: 1em;
    padding-right: 1em;
}

.header--index {
    padding-bottom: 2.5em;
}

.header--dark {
    background-color: $color-header-background;
    color: $color-header-text;
}

.header__title {
    font-size: 64px;
    margin-top: $navigation-height + ($navigation-padding-vertical * 2);
    margin-bottom: 0;
    padding-top: 94px;
    padding-bottom: 94px;
    line-height: 1.0125;
}

.navigation {
    height: $navigation-height;
    font-size: $font-size-small;
    background: $color-body-background;
    position: fixed;
    width: 100%;
    padding-top: $navigation-padding-vertical;
    padding-bottom: $navigation-padding-vertical;
    border-bottom: $navigation-border-size solid;
}

.navigation--dark {
    background: $color-gray-darken;
    color: white;
}

.navigation__content {
    font-weight: bold;
    margin-left: $navigation-content-margin-horizontal;
    margin-right: $navigation-content-margin-horizontal;
}

.home {
    color: $color-primary;
}

.menu {
    float: right;
}

.menu__link {
    &:hover {
        color: $color-primary;
        @include transition(color .1s ease-in);
    }
}

.content {
    flex: 1 0 auto;
}

.footer {
    border-top: 0.08em solid $color-gray-darken;
}

.footer__content {
    font-size: $font-size-x-small;
    padding-top: .66em;
    padding-bottom: .66em;
}

.footer__link {
    color: $color-primary;
    margin-left: .83em;

    &:hover {
        text-decoration: underline;
    }
}

.card {
    width: 100%;
    border-top: 1px solid;
    cursor: inherit;
}

.card__icon {
    margin-top: 1.6em;
    margin-right: .25em;
    height: 1.6em;
    width: 1.6em;
    fill: $color-card-icon;

    &:hover {
        fill: $color-primary;
        @include transition(fill .1s ease-in);
    }
}

.card__icon--primary {
    fill: $color-primary;
}

.card__text {
    margin-top: 1em;
    line-height: 1.25;
}

.post {
    padding-top: .8em;
    padding-bottom: .8em;
    margin-bottom: .8em;
}

.post__date {
    color: $color-primary;
    font-weight: bold;
}

.post__title {
    margin-top: 0;
    margin-bottom: 0;
}

.post__link:hover {
    @include transition(color .1s ease-in);
    color: $color-primary;
}

.profile-pic {
    background: url(/assets/images/renan-taranto.jpg) 200px 0;
    background-size: 400px;
    width: 180px;
    height: 400px;
    margin-left: auto;
    margin-right: auto;
}

@media (min-width: $breakpoint-sm) {
    .header__title {
        font-size: 84px;
    }
}

@media (min-width: $breakpoint-md) {
    .header__title {
        font-size: 128px;
    }

    .card {
        max-width: 16.5em;
    }

    .card--right {
        margin-left: 3.25em;
    }

    .header__title {
        margin-bottom: 16px;
    }
}
