.container {
    max-width: 64em;
    margin-left: auto;
    margin-right: auto;
    padding-left: 16px;
    padding-right: 16px;
}

.header {
    background-color: $color-header-background;
    color: $color-header-text;
}

.header__title {
    font-size: 64px;
    word-wrap: break-word;
    word-spacing: 64em;
    margin-top: 32px + $navigation-padding-bottom + $navigation-border-size;
    margin-bottom: 0;
    padding-top: 94px;
    padding-bottom: 94px;
    line-height: 1.0125;
}

.navigation {
    color: $color-header-text;
    position: fixed;
    width: 100%;
    background: $color-gray-darken;
    text-align: right;
    padding-top: $navigation-padding-top;
    padding-bottom: $navigation-padding-bottom;
    font-weight: bold;
    border-bottom: $navigation-border-size solid;
}

.navigation__link {
    margin-right: 16px;

    &:hover {
        color: $color-primary;
    }
}

.footer {
    border-top: 1px solid $color-gray-darken;
}

.footer__content {
    padding-top: 8px;
    padding-bottom: 8px;
    font-size: 12px;
}

.footer__link {
    color: $color-primary;
    margin-left: 10px;

    &:hover {
        text-decoration: underline;
    }
}

.card {
    min-height: 100px;
    width: 100%;
    border-top: 1px solid;
    cursor: inherit;
    padding-bottom: 50px;
}

.card__icon {
    margin-top: 32px;
    margin-right: 5px;
    height: 32px;
    width: 32px;
    fill: $color-card-icon;
}

.card__icon--primary {
    fill: $color-primary;
}

.card__text {
    margin-top: 20px;
    font-size: 20px;
    line-height: 1.25;
}

.posts {
    padding-top: 64px;
    padding-bottom: 64px;
}

.post {
    padding-top: 16px;
    padding-bottom: 16px;
    margin-bottom: 16px;
}

.post__date {
    color: $color-primary;
    font-weight: bold;
}

.post__title {
    margin-top: 0;
    margin-bottom: 0;
}

.post__link:hover {
    color: $color-primary;
}

.post__excerpt {
    font-size: 20px;
}

@media (min-width: $breakpoint-sm) {
    .header__title {
        font-size: 84px;
    }
}

@media (min-width: $breakpoint-md) {
    .header__title {
        font-size: 128px;
    }

    .card {
        max-width: 330px;
    }

    .card--right {
        margin-left: 65px;
    }

    .header {
        padding-left: 28px;
    }

    .header__title {
        margin-bottom: 16px;
    }
}
