$body-font-family: 'TexGyreHeroes';
$body-font-format: 'woff';
$body-font-url-regular: '/assets/fonts/texgyreheros-regular-webfont.woff';
$body-font-url-italic: '/assets/fonts/texgyreheros-italic-webfont.woff';
$body-font-url-bold: '/assets/fonts/texgyreheros-bold-webfont.woff';
$body-font-url-bold-italic: '/assets/fonts/texgyreheros-bolditalic-webfont.woff';

$container-max-width: 50em;

$body-font-size: 20px;
$font-size-small: 16px;
$font-size-x-small: 12px;
$h1-font-size: 40px;
$h2-font-size: 32px;
$h3-font-size: 24px;
$h4-font-size: 20px;
$h5-font-size: 16px;
$h6-font-size: 12px;

$color-gray-lighten: #ddd;
$color-gray-darken: #181818;
$color-primary: #ec5336;
$color-body-text: $color-gray-darken;
$color-body-background: #FFF;
$color-header-text: #FFF;
$color-header-background: $color-gray-darken;
$color-card-icon: #FFF;

$navigation-height: 24px;
$navigation-padding-vertical: 8px;
$navigation-border-size: 2px;
$navigation-content-margin-horizontal: 16px;

$breakpoint-sm: 568px;
$breakpoint-md: 768px;
